<main class="el-main">
    <div>
        <section class="el-container mainslider">
            <div class="slider-vue">
                <div data-v-3d1a4f76="" class="slick-slider slick-initialized">
                    <div data-v-3d1a4f76="" class="slick-list">
                        <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track"
                             style="width: 1106px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false"
                                 class="slick-slide slick-active slick-current" style="outline: none; width: 1106px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-e4caeaf8="" tabindex="-1" class="d-block"
                                         style="width: 100%; display: inline-block;"><a href="/ru/#" class="d-block"
                                                                                        rel="nofollow"
                                                                                        data-v-e4caeaf8="">
                                        <div class="el-image"><img
                                                src="https://upload.zoodmall.com/app/banner/main_banner_6809df319d7c7.jpg"
                                                alt="mainsliderphoto" width="1000" height="370" class="el-image__inner"
                                                style="object-fit: contain;"><!----></div>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!----></div>
    <div><!---->
        <div>
            <section class="el-container">
                <div class="el-row is-align-middle el-row--flex">
                    <div class="el-col el-col-16"><h2>Глобальный шоппинг в х12</h2></div>
                </div>
                <div class="best-deals">
                    <div class="el-row el-row--flex" style="margin-left:-5px;margin-right:-5px;">
                        <div class="best-deals__item el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-6"
                             style="padding-left:5px;padding-right:5px;"><a href="/ru/#" rel="nofollow" class="">
                            <div class="el-image best-deals__image"><img
                                    src="https://upload.zoodmall.com/app/homePageLayout/1726468456420.jpg"
                                    alt="Как получить?" width="50" height="50" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                            <div class="best-deals__title">Как получить?</div>
                        </a></div>
                        <div class="best-deals__item el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-6"
                             style="padding-left:5px;padding-right:5px;"><a href="/ru/#" rel="nofollow" class="">
                            <div class="el-image best-deals__image"><img
                                    src="https://upload.zoodmall.com/app/homePageLayout/1726468464121.jpg"
                                    alt="Мировые бренды" width="50" height="50" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                            <div class="best-deals__title">Мировые бренды</div>
                        </a></div>
                        <div class="best-deals__item el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-6"
                             style="padding-left:5px;padding-right:5px;"><a href="/ru/#" rel="nofollow" class="">
                            <div class="el-image best-deals__image"><img
                                    src="https://upload.zoodmall.com/app/homePageLayout/1726468474940.jpg"
                                    alt="Интернет магазины" width="50" height="50" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                            <div class="best-deals__title">Интернет магазины</div>
                        </a></div>
                        <div class="best-deals__item el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-6"
                             style="padding-left:5px;padding-right:5px;"><a href="/ru/#" rel="nofollow" class="">
                            <div class="el-image best-deals__image"><img
                                    src="https://upload.zoodmall.com/app/homePageLayout/1726468482898.jpg"
                                    alt="Местные топ-бренды" width="50" height="50" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                            <div class="best-deals__title">Местные топ-бренды</div>
                        </a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div><!---->
        <div class="icons-home" data-v-68bea410="">
            <section class="el-container" data-v-68bea410="">
                <div class="el-row el-row--flex" style="margin-left:-5px;margin-right:-5px;" data-v-68bea410="">
                    <div class="el-col el-col-24" style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><h2
                            data-v-68bea410="">Любимые блюда и продукты в рассрочку x12</h2></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744267218242.jpg" alt="Яндекс Еда"
                                width="50" height="50" class="el-image__inner" style="object-fit: contain;"><!---->
                        </div>
                        <span class="icons-home__title" data-v-68bea410="">Яндекс Еда</span></a></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744267284309.jpg"
                                alt="Яндекс Лавка" width="50" height="50" class="el-image__inner"
                                style="object-fit: contain;"><!----></div>
                        <span class="icons-home__title" data-v-68bea410="">Яндекс Лавка</span></a></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744267257672.jpg" alt="Korzinka Go"
                                width="50" height="50" class="el-image__inner" style="object-fit: contain;"><!---->
                        </div>
                        <span class="icons-home__title" data-v-68bea410="">Korzinka Go</span></a></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744267301511.jpg" alt="Wolt"
                                width="50" height="50" class="el-image__inner" style="object-fit: contain;"><!---->
                        </div>
                        <span class="icons-home__title" data-v-68bea410="">Wolt</span></a></div>
                </div>
            </section>
        </div>
    </div>
    <div><!---->
        <div class="icons-home" data-v-68bea410="">
            <section class="el-container" data-v-68bea410="">
                <div class="el-row el-row--flex" style="margin-left:-5px;margin-right:-5px;" data-v-68bea410="">
                    <div class="el-col el-col-24" style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><h2
                            data-v-68bea410="">Покупайте на AliExpress в рассрочку x12</h2></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744268662185.jpg" alt="Электроника"
                                width="50" height="50" class="el-image__inner" style="object-fit: contain;"><!---->
                        </div>
                        <span class="icons-home__title" data-v-68bea410="">Электроника</span></a></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/174426871815.jpg" alt="Автотовары"
                                width="50" height="50" class="el-image__inner" style="object-fit: contain;"><!---->
                        </div>
                        <span class="icons-home__title" data-v-68bea410="">Автотовары</span></a></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744268766494.jpg"
                                alt="Мужской стиль" width="50" height="50" class="el-image__inner"
                                style="object-fit: contain;"><!----></div>
                        <span class="icons-home__title" data-v-68bea410="">Мужской стиль</span></a></div>
                    <div class="icons-home__item el-col el-col-24 el-col-xs-6 el-col-sm-6 el-col-md-6"
                         style="padding-left:5px;padding-right:5px;" data-v-68bea410=""><a href="/ru/#" rel="nofollow"
                                                                                           data-v-68bea410="" class="">
                        <div class="el-image icons-home__icon" data-v-68bea410=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1744268825660.jpg"
                                alt="Женская мода" width="50" height="50" class="el-image__inner"
                                style="object-fit: contain;"><!----></div>
                        <span class="icons-home__title" data-v-68bea410="">Женская мода</span></a></div>
                </div>
            </section>
        </div>
    </div>
    <div>
        <section class="el-container mainslider">
            <div class="slider-vue">
                <div data-v-3d1a4f76="" class="slick-slider slick-initialized">
                    <div data-v-3d1a4f76="" class="slick-list">
                        <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track"
                             style="width: 1106px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false"
                                 class="slick-slide slick-active slick-current" style="outline: none; width: 1106px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-e4caeaf8="" tabindex="-1" class="d-block"
                                         style="width: 100%; display: inline-block;"><a href="/ru/#" class="d-block"
                                                                                        rel="nofollow"
                                                                                        data-v-e4caeaf8="">
                                        <div class="el-image"><img
                                                src="https://upload.zoodmall.com/app/banner/bannermulti_banner_68121b854572d.jpg"
                                                alt="mainsliderphoto" width="1000" height="370" class="el-image__inner"
                                                style="object-fit: contain;"><!----></div>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!----></div>
    <div><!---->
        <section id="four-blocker" class="el-container" style="background-color:#FFFFFF;" data-v-734b6692="">
            <div class="block" data-v-734b6692="">
                <div class="heading" data-v-734b6692=""><h2 data-v-734b6692="">Покупки по Узбекистану в рассрочку до
                    х3</h2></div>
                <div class="el-row" style="background-color:#FFFFFF;" data-v-734b6692="">
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746017488906.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Yandex Market</label></div>
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746017615975.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Korzinka Go</label></div>
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746017691134.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Wildberries</label></div>
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746017732585.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Ozon</label></div>
                </div>
            </div>
        </section>
    </div>
    <div><!---->
        <section id="four-blocker" class="el-container" style="background-color:#FFFFFF;" data-v-734b6692="">
            <div class="block" data-v-734b6692="">
                <div class="heading" data-v-734b6692=""><h2 data-v-734b6692="">Всемирный шоппинг в рассрочку до x3</h2>
                </div>
                <div class="el-row" style="background-color:#FFFFFF;" data-v-734b6692="">
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746018191815.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Aliexpress</label></div>
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746018221672.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Amazon</label></div>
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/174601831842.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Trendyol</label></div>
                    <div class="product el-col el-col-24 el-col-xs-12 el-col-sm-6 el-col-md-6 el-col-lg-6 el-col-xl-6"
                         data-v-33b6ceb1="" data-v-734b6692=""><a href="/ru/#" class="d-block four-blocker-border"
                                                                  data-v-33b6ceb1="">
                        <div class="el-image" data-v-33b6ceb1=""><img
                                src="https://upload.zoodmall.com/app/homePageLayout/1746018470292.png"
                                class="el-image__inner"><!----></div>
                    </a> <label class="lable-bold" data-v-33b6ceb1=""> Zara</label></div>
                </div>
            </div>
        </section>
    </div>
    <div><!---->
        <div>
            <section class="el-container hotdeals">
                <div class="el-row is-align-middle el-row--flex">
                    <div class="el-col el-col-16"><h2>Покупайте онлайн</h2></div>
                    <div class="text-right el-col el-col-8"><a href="/ru/page/featured-product/?sectionId=213"
                                                               class="link-arrow link-arrow--right text-bold"
                                                               style="text-decoration: none;">Показать все</a></div>
                </div>
                <div class="block-white hotdeals__products el-row is-align-middle">
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/27019910/besprovodnye-naushniki-vivo-sport-lite-chernyy/"
                            class="product-mini" data-productid="27019910" itemscope="itemscope"
                            itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/27019910/besprovodnye-naushniki-vivo-sport-lite-chernyy/">
                        <div class="product-mini__img">
                            <div class="product-tag" style="display: none;">

                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages.zoodmall.com%2Fweb%2Fproduct%2Fpicture%2F10%2F27019910%2F167974225430956200571.jpeg"
                                    alt="Беспроводные наушники Vivo Sport Lite, черный - ZOOD"
                                    title="Беспроводные наушники Vivo Sport Lite, черный" itemprop="image" width="255"
                                    height="222" class="el-image__inner" style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Беспроводные наушники Vivo Sport Lite, черный
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                299,000</b></div>
                            <div><span class="price-text-decoration">UZS 499,000
        </span> <span class="product-mini__discount">-40%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="299000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 61,992</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              28,178</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><i>⭐</i> <span>
        5.0
      </span> <img src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16" alt="flag"
                   class="flag"> <img src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png"
                                      width="80px" alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/26417246/flesh-nakopitel-kioxia-exceria-32gb/" class="product-mini"
                            data-productid="26417246" itemscope="itemscope" itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/26417246/flesh-nakopitel-kioxia-exceria-32gb/">
                        <div class="product-mini__img">
                            <div class="product-tag" style="display: none;">

                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fhttps%253A%2Fassets.asaxiy.uz%2Fproduct%2Fitems%2Fdesktop%2Ff6afdd904e1e8876744b7c4a4cbcc1292021072218371663093EUwxn0qnkg.jpg.webp"
                                    alt="Флеш накопитель Kioxia Exceria 32GB - ZOOD"
                                    title="Флеш накопитель Kioxia Exceria 32GB" itemprop="image" width="255"
                                    height="222" class="el-image__inner" style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Флеш накопитель Kioxia Exceria 32GB
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                165,500</b></div>
                            <div><span class="price-text-decoration">UZS 174,500
        </span> <span class="product-mini__discount">-5%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="165500">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 34,313</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              15,597</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><i>⭐</i> <span>
        5.0
      </span> <img src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16" alt="flag"
                   class="flag"> <img src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png"
                                      width="80px" alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/35353843/setevoe-zaryadnoe-ustroystvo-oraimo-firefly-3-s-vyhodnoy-moshchnostyu-10-vt-i-kabelem-lightning/"
                            class="product-mini" data-productid="35353843" itemscope="itemscope"
                            itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/35353843/setevoe-zaryadnoe-ustroystvo-oraimo-firefly-3-s-vyhodnoy-moshchnostyu-10-vt-i-kabelem-lightning/">
                        <div class="product-mini__img">
                            <div class="product-tag" style="display: none;">

                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fb40cf6e9_174126078119610800338.jpeg"
                                    alt="Сетевое зарядное устройство Oraimo Firefly 3 с выходной мощностью 10 Вт и кабелем Lightning - ZOOD"
                                    title="Сетевое зарядное устройство Oraimo Firefly 3 с выходной мощностью 10 Вт и кабелем Lightning"
                                    itemprop="image" width="255" height="222" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Сетевое зарядное устройство Oraimo Firefly 3 с выходной мощностью 10 Вт и кабелем
                                Lightning
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                79,000</b></div>
                            <div><span class="price-text-decoration">UZS 150,000
        </span> <span class="product-mini__discount">-47%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="79000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 16,379</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              7,445</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><!----> <!----> <img
                                    src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16"
                                    alt="flag" class="flag"> <img
                                    src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png" width="80px"
                                    alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/35350475/router-xiaomi-router-ax1500-ru/" class="product-mini"
                            data-productid="35350475" itemscope="itemscope" itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/35350475/router-xiaomi-router-ax1500-ru/">
                        <div class="product-mini__img">
                            <div class="product-tag" style="display: none;">

                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fhttps%253A%2Fstatic.ru-mi.com%2Fupload%2Fresize_cache%2Fiblock%2F952%2F440_440_1%2Fjtlm03z228pvu6b05b4f64gdet43shw3.jpg"
                                    alt="Роутер Xiaomi Router AX1500 RU - ZOOD" title="Роутер Xiaomi Router AX1500 RU"
                                    itemprop="image" width="255" height="222" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Роутер Xiaomi Router AX1500 RU
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                639,000</b></div>
                            <div><span class="price-text-decoration">UZS 800,000
        </span> <span class="product-mini__discount">-20%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="639000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 132,486</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              60,220</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><!----> <!----> <img
                                    src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16"
                                    alt="flag" class="flag"> <img
                                    src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png" width="80px"
                                    alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                </div>
            </section>
        </div>
    </div>
    <div><!---->
        <div>
            <section class="el-container hotdeals">
                <div class="el-row is-align-middle el-row--flex">
                    <div class="el-col el-col-16"><h2>Экспресс доставка</h2></div>
                    <div class="text-right el-col el-col-8"><a href="/ru/page/featured-product/?sectionId=212"
                                                               class="link-arrow link-arrow--right text-bold"
                                                               style="text-decoration: none;">Показать все</a></div>
                </div>
                <div class="block-white hotdeals__products el-row is-align-middle">
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/31524694/elektricheskaya-zubnaya-shchetka-laifen-wave/"
                            class="product-mini" data-productid="31524694" itemscope="itemscope"
                            itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/31524694/elektricheskaya-zubnaya-shchetka-laifen-wave/">
                        <div class="product-mini__img">
                            <div class="product-tag"
                                 style="background-color: rgb(48, 52, 147); color: rgb(255, 255, 255);">
                                Бесплатная доставка
                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fhttps%253A%2Fmini-io-api.texnomart.uz%2Fcatalog%2Fproduct%2F3574%2F357439%2F199370%2F24db3156-4682-49b7-aae5-ea56573b5380.webp"
                                    alt="Электрическая зубная щетка Laifen Wave - ZOOD"
                                    title="Электрическая зубная щетка Laifen Wave" itemprop="image" width="255"
                                    height="222" class="el-image__inner" style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Электрическая зубная щетка Laifen Wave
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                799,000</b></div>
                            <div><span class="price-text-decoration">UZS 1,064,500
        </span> <span class="product-mini__discount">-25%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="799000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 165,659</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              75,299</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><!----> <!----> <img
                                    src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16"
                                    alt="flag" class="flag"> <img
                                    src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png" width="80px"
                                    alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/35353759/besprovodnoe-zaryadnoe-ustroystvo-oraimo-powerdock-15w-s-magnitnym-krepleniem-/"
                            class="product-mini" data-productid="35353759" itemscope="itemscope"
                            itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/35353759/besprovodnoe-zaryadnoe-ustroystvo-oraimo-powerdock-15w-s-magnitnym-krepleniem-/">
                        <div class="product-mini__img">
                            <div class="product-tag" style="display: none;">

                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2F51e605dc_174117563281785300951.jpeg"
                                    alt="Беспроводное зарядное устройство Oraimo PowerDock 15W с магнитным креплением. - ZOOD"
                                    title="Беспроводное зарядное устройство Oraimo PowerDock 15W с магнитным креплением."
                                    itemprop="image" width="255" height="222" class="el-image__inner"
                                    style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Беспроводное зарядное устройство Oraimo PowerDock 15W с магнитным креплением.
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                109,000</b></div>
                            <div><span class="price-text-decoration">UZS 300,000
        </span> <span class="product-mini__discount">-64%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="109000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 22,599</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              10,272</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><!----> <!----> <img
                                    src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16"
                                    alt="flag" class="flag"> <img
                                    src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png" width="80px"
                                    alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/31524690/fen-laifen-se-lite-1/" class="product-mini"
                            data-productid="31524690" itemscope="itemscope" itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/31524690/fen-laifen-se-lite-1/">
                        <div class="product-mini__img">
                            <div class="product-tag"
                                 style="background-color: rgb(48, 52, 147); color: rgb(255, 255, 255);">
                                Бесплатная доставка
                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fhttps%253A%2Fmini-io-api.texnomart.uz%2Fcatalog%2Fproduct%2F3574%2F357435%2F200281%2F387068e3-6b88-4465-ab64-6c9f5e3e71e3.webp"
                                    alt="Фен Laifen SE Lite 1 - ZOOD" title="Фен Laifen SE Lite 1" itemprop="image"
                                    width="255" height="222" class="el-image__inner" style="object-fit: contain;">
                                <!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Фен Laifen SE Lite 1
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                849,000</b></div>
                            <div><span class="price-text-decoration">UZS 1,110,000
        </span> <span class="product-mini__discount">-24%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="849000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 176,026</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              80,011</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><!----> <!----> <img
                                    src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16"
                                    alt="flag" class="flag"> <img
                                    src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png" width="80px"
                                    alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 el-col-md-6"><a
                            href="/ru/product/17343372/ryukzak-xiaomi-mi-urban-life-style-backpack-2/"
                            class="product-mini" data-productid="17343372" itemscope="itemscope"
                            itemtype="http://schema.org/Product">
                        <meta itemprop="url"
                              content="https://www.zoodmall.uz/ru/product/17343372/ryukzak-xiaomi-mi-urban-life-style-backpack-2/">
                        <div class="product-mini__img">
                            <div class="product-tag" style="display: none;">

                            </div>
                            <div class="el-image"><img
                                    src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages.zoodmall.com%2Fweb%2Fproduct%2Fpicture%2F72%2F17343372%2F167692176648213100005.jpeg"
                                    alt="Рюкзак Xiaomi Mi Urban Life Style Backpack 2 - ZOOD"
                                    title="Рюкзак Xiaomi Mi Urban Life Style Backpack 2" itemprop="image" width="255"
                                    height="222" class="el-image__inner" style="object-fit: contain;"><!----></div>
                        </div>
                        <div class="product-mini__data">
                            <div dir="auto" itemprop="name" class="product-mini__title">
                                Рюкзак Xiaomi Mi Urban Life Style Backpack 2
                            </div>
                            <div class="product-mini__totalLocalPrice"><b>UZS
                                269,000</b></div>
                            <div><span class="price-text-decoration">UZS 499,000
        </span> <span class="product-mini__discount">-46%</span></div>
                            <div itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer"
                                 class="product-mini__payment">
                                <meta itemprop="priceCurrency" content="UZS">
                                <meta itemprop="price" content="269000">
                                <div class="downpaymenttextborder">
                                    <div class="downpaymenttext"><span class="downpaymenttext-padding">Сейчас  </span>
                                        <span class="price-padding-5">UZS 55,772</span></div>
                                    <p class="downpaymenttext" style="margin: 0px;"><span
                                            class="downpaymenttext-padding"> Позже </span> <span
                                            class="price-padding-5">UZS
              25,351</span> <span>x11</span></p></div>
                            </div>
                            <div class="product-mini__rating"><i>⭐</i> <span>
        5.0
      </span> <img src="https://images.zoodmall.com/app/appImages/UZ.png" width="19" height="16" alt="flag"
                   class="flag"> <img src="https://images.zoodmall.com/app/appImages/expressDeliveryIcon.png"
                                      width="80px" alt="Express Shipping" class="express-shipping"></div>
                        </div>
                    </a></div>
                </div>
            </section>
        </div>
    </div>
    <div></div>
    <section class="el-container seo-text"><h1>ZOOD: Покупайте сейчас, платите потом</h1>
        <p>Покупайте с радостью на <b>ZOOD Mall</b> – ведущем онлайн-маркетплейсе с миллионами товаров по лучшим ценам!
            <b>Смартфоны и аксессуары, компьютеры и ноутбуки, бытовая техника и автотовары</b> – у нас вы найдете всё от
            проверенных местных и международных продавцов. Оплачивайте покупки удобно <b>с рассрочкой – разбивайте
                платежи до 12 месяцев без лишних затрат и скрытых комиссий</b>. Платите частями и наслаждайтесь свободой
            покупок!
            <br>

            <b>ZOOD Pay</b> – это безопасность и комфорт при оплате в рассрочку. Следите за нашими "<b>Предложениями
                дня</b>" и покупайте популярные товары по суперценам, а также получайте <b>эксклюзивные скидки</b> на
            самые нужные вещи. <b>Честные условия, прозрачные платежи и удобный возврат</b> – с ZOOD шопинг всегда без
            риска!
            <br>
            Ищете доступные гаджеты или премиальные бренды? Мы предложим лучшее решение для покупателей в <b>Узбекистане,
                Пакистане и Ливане</b>. Отслеживайте свои заказы в реальном времени, разбивайте платежи на удобные части
            и совершайте покупки 24/7 – всё для вашего комфорта!

            <br><br>

            Скачайте приложение ZOOD и откройте для себя лучшие скидки, гибкие рассрочки и миллионы товаров прямо в
            вашем телефоне!</p></section>
</main>